<mat-dialog-content class="mat-typography">
    <section class="inner-body my-account">
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 right_info">
                        <h4 class="info_title">Fill up the form and our team will get back to you within 24 hours.</h4>
                        <div class="infor_set">
                            <ul>
                                <li><span class="bdr"><i class="fas fa-phone-alt"></i></span><span>+91 98360 00 000</span></li>
                                <li><span class="bdr"><i class="fas fa-envelope-open"></i></span><span>hello@mafic.com</span></li>
                                <li><span class="bdr"><i class="fas fa-map-marker-alt"></i></span><span>Intellect Building, 2nd Floor, 249 Udyog Vihar, <br>Phase- IV, Gurugram, Haryana 122022</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="contact_frm">
                            <div class="log-header text-center">
                                <h5 class="modal-title bold" id="exampleModalLabel">Let's talk</h5>
                            </div>
                            <div class="card form-login border-0">
                                <div class="row">
                                    <div class="form-group mb-4 col-sm-12">
                                        <input type="text" class="form-control" placeholder="First Name">
                                    </div>
                                    <div class="form-group mb-4 col-sm-12">
                                        <input type="text" class="form-control" placeholder="Last Name">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group mb-4 col-sm-12">
                                        <input type="text" class="form-control" placeholder="Enter your Email">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group mb-4 col-sm-12">
                                        <input type="text" class="form-control" placeholder="Mobile No">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group mb-5 col-sm-12">
                                        <select class="form-select form-control" aria-label="select Category">
                                            <option selected>Select Interest Category</option>
                                            <option value="1">Category One</option>
                                            <option value="2">Category Two</option>
                                            <option value="3">Category Three</option>
                                          </select>
                                    </div>
                                </div>
                                <div class="form-group mb-2">
                                    <button type="submit" class="btn-gold w-100">Sign Up</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</mat-dialog-content>