<div class="banner inner-page">
    <div id="carouselExampleCaptions" class="carousel slide inner-page-uder" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../../../assets/images/inner-banner.jpg" class="d-block w-100" alt="...">
                <div class="carousel-caption">
                    <h4>Blogs</h4>
                    <div class="pagination-cls">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Blogs</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>

<section class="inner-body my-events">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <div class="flter_top">
                    <div class="filter">
                        <div class="dropdown mb-4">
                            <!-- <button class="btn-brown dropdown-toggle px-4" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                    Filter Events<i class="far fa-sliders-h fa-lg ms-2"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right py-0 mt-1 overflow-hidden" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item cursor-pointer" (click)="filterEvents('all')">ALl Events</a>
                                    <a class="dropdown-item cursor-pointer" (click)="filterEvents('onGoing')">Ongoing Events</a>
                                    <a class="dropdown-item cursor-pointer" (click)="filterEvents('upComing')">Upcoming Events</a>
                                    <a class="dropdown-item cursor-pointer" (click)="filterEvents('Completed')">Completed Events</a>
                                </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Gallery Grid -->
            <article class="col-md-4">
                <div class="card card-custome mb-5 cursor-pointer">
                    <figure class="d-block card-img">
                        <a><img src="../../../assets/images/blog/blog-01.png" class="card-img-top" alt="..."></a>
                        <div class="date-overly">
                            <div class="pb-1">
                                <i class="fas fa-calendar-alt"></i> 24 Aug 2021, 2:00PM
                            </div>
                        </div>
                    </figure>
                    <div class="card-body">
                        <h5 class="card-title">
                            <a>Independence day 15 august 2021 virtual marathon</a>
                        </h5>
                        <p class="card-text">By</p>
                        <a href="#" class="price_event">Shari Trewin</a>
                    </div>
                </div>
            </article>

            <article class="col-md-4">
                <div class="card card-custome mb-5 cursor-pointer">
                    <figure class="d-block card-img">
                        <a><img src="../../../assets/images/blog/blog-02.png" class="card-img-top" alt="..."></a>
                        <div class="date-overly">
                            <div class="pb-1">
                                <i class="fas fa-calendar-alt"></i> 07 Sep 2021, 10:00AM
                            </div>
                        </div>
                    </figure>
                    <div class="card-body">
                        <h5 class="card-title">
                            <a>Las Vegas Antique Jewelry & Watch Show</a>
                        </h5>
                        <p class="card-text">By</p>
                        <a href="#" class="price_event">Shari Trewin</a>
                    </div>
                </div>
            </article>

            <article class="col-md-4">
                <div class="card card-custome mb-5 cursor-pointer">
                    <figure class="d-block card-img">
                        <a><img src="../../../assets/images/blog/blog-03.png" class="card-img-top" alt="..."></a>
                        <div class="date-overly">
                            <div class="pb-1">
                                <i class="fas fa-calendar-alt"></i> 28 Sep 2021, 10:00AM
                            </div>
                        </div>
                    </figure>
                    <div class="card-body">
                        <h5 class="card-title">
                            <a>Discover local art at Open Studios Isle of Wight</a>
                        </h5>
                        <p class="card-text">By</p>
                        <a href="#" class="price_event">Shari Trewin</a>
                    </div>
                </div>
            </article>

            <article class="col-md-4">
                <div class="card card-custome mb-5 cursor-pointer">
                    <figure class="d-block card-img">
                        <a><img src="../../../assets/images/blog/blog-04.png" class="card-img-top" alt="..."></a>
                        <div class="date-overly">
                            <div class="pb-1">
                                <i class="fas fa-calendar-alt"></i> 15 Aug 2021, 10:00AM
                            </div>
                        </div>
                    </figure>
                    <div class="card-body">
                        <h5 class="card-title">
                            <a>Surround yourself with artistic talent at Holmfirth Art Week</a>
                        </h5>
                        <p class="card-text">By</p>
                        <a href="#" class="price_event">Shari Trewin</a>
                    </div>
                </div>
            </article>

            <article class="col-md-4">
                <div class="card card-custome mb-5 cursor-pointer">
                    <figure class="d-block card-img">
                        <a><img src="../../../assets/images/blog/blog-05.png" class="card-img-top" alt="..."></a>
                        <div class="date-overly">
                            <div class="pb-1">
                                <i class="fas fa-calendar-alt"></i> 24 Aug 2021, 2:00PM
                            </div>
                        </div>
                    </figure>
                    <div class="card-body">
                        <h5 class="card-title">
                            <a>Independence day 15 august 2021 virtual marathon</a>
                        </h5>
                        <p class="card-text">By</p>
                        <a href="#" class="price_event">Shari Trewin</a>
                    </div>
                </div>
            </article>

            <article class="col-md-4">
                <div class="card card-custome mb-5 cursor-pointer">
                    <figure class="d-block card-img">
                        <a><img src="../../../assets/images/blog/blog-06.png" class="card-img-top" alt="..."></a>
                        <div class="date-overly">
                            <div class="pb-1">
                                <i class="fas fa-calendar-alt"></i> 07 Sep 2021, 10:00AM
                            </div>
                        </div>
                    </figure>
                    <div class="card-body">
                        <h5 class="card-title">
                            <a>Las Vegas Antique Jewelry & Watch Show</a>
                        </h5>
                        <p class="card-text">By</p>
                        <a href="#" class="price_event">Shari Trewin</a>
                    </div>
                </div>
            </article>

            <article class="col-md-4">
                <div class="card card-custome mb-5 cursor-pointer">
                    <figure class="d-block card-img">
                        <a><img src="../../../assets/images/blog/blog-01.png" class="card-img-top" alt="..."></a>
                        <div class="date-overly">
                            <div class="pb-1">
                                <i class="fas fa-calendar-alt"></i> 15 Aug 2021, 10:00AM
                            </div>
                        </div>
                    </figure>
                    <div class="card-body">
                        <h5 class="card-title">
                            <a>Discover local art at Open Studios Isle of Wight</a>
                        </h5>
                        <p class="card-text">By</p>
                        <a href="#" class="price_event">Shari Trewin</a>
                    </div>
                </div>
            </article>

            <article class="col-md-4">
                <div class="card card-custome mb-5 cursor-pointer">
                    <figure class="d-block card-img">
                        <a><img src="../../../assets/images/blog/blog-08.png" class="card-img-top" alt="..."></a>
                        <div class="date-overly">
                            <div class="pb-1">
                                <i class="fas fa-calendar-alt"></i> 28 Sep 2021, 10:00AM
                            </div>
                        </div>
                    </figure>
                    <div class="card-body">
                        <h5 class="card-title">
                            <a>Surround yourself with artistic talent at Holmfirth Art Week</a>
                        </h5>
                        <p class="card-text">By</p>
                        <a href="#" class="price_event">Shari Trewin</a>
                    </div>
                </div>
            </article>
            <article class="col-md-4">
                <div class="card card-custome mb-5 cursor-pointer">
                    <figure class="d-block card-img">
                        <a><img src="../../../assets/images/blog/blog-09.png" class="card-img-top" alt="..."></a>
                        <div class="date-overly">
                            <div class="pb-1">
                                <i class="fas fa-calendar-alt"></i> 15 Aug 2021, 10:00AM
                            </div>
                        </div>
                    </figure>
                    <div class="card-body">
                        <h5 class="card-title">
                            <a>Independence day 15 august 2021 virtual marathon</a>
                        </h5>
                        <p class="card-text">By</p>
                        <a href="#" class="price_event">Shari Trewin</a>
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>