header .navibar .rightHdr {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@media screen and (max-width: 767px) {
    header .navibar .rightHdr {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

header .navibar .rightHdr a {
    color: #383838;
    font-size: 14px;
}

@media screen and (max-width: 767px) {
    header .navibar .rightHdr a {
        white-space: nowrap;
    }
}

.topheader .rightHdr a:nth-child(1) {
    margin-right: 1.87em !important;
}

header .navibar .rightHdr a:nth-child(1) {
    margin-right: 0em;
}

mat-form-field {
    width: 100%;
}

mat-icon,
.cursor-pointer {
    cursor: pointer;
}

a {
    text-decoration: none;
}

.text-green {
    color: #000 !important;
    text-decoration: underline;
    font-weight: 600;
}

.popupHead {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100%;
    background-color: rgb(0 0 0 / 67%);
    z-index: 2000;
    overflow-x: hidden;
    overflow-y: auto;
}

.poper {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.poperHead {
    height: 100%;
    width: 100%;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid black;
}

.poperClose {
    position: absolute;
    top: 8px;
    right: 14px;
    cursor: pointer;
    z-index: 1;
}

.swal2-container {
    z-index: 100000;
}

.login-a a {
    font-weight: 600;
    color: #3F1D0B;
    /* padding: 0px 5px; */
    transition: all 0.3s ease;
}

.login-a a:hover {
    color: #8BC540;
}

.top-nav-user {
    width: 37px;
    height: 37px;
    object-fit: cover;
}

.user-menu {
    padding: 0;
    margin-top: 15px;
}

.user-menu::before {
    display: block;
    content: "";
    width: 12px;
    height: 12px;
    border-left: 1px solid #d9d9d9;
    border-top: 1px solid #d9d9d9;
    background-color: #ffffff;
    transform: rotate(45deg);
    position: absolute;
    top: -7px;
    left: 20px;
    margin: auto;
}

.user-menu .dropdown-item {
    padding: 7px 12px;
}

.user-menu .dropdown-item:hover {
    background-color: #fff;
}

.user-menu .dropdown-item:not(:last-child) {
    border-bottom: 1px solid #d9d9d9;
}

.header-pop .modal-dialog {
    max-width: 400px;
}

.form-group .forgot-head {
    font-weight: 600;
}

.tooltip1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
    cursor: pointer;
}


/* Style text tooltip */

.tooltipText1 {
    background-color: #fff;
    position: absolute;
    bottom: 130%;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
    opacity: 0;
    transition: all .5s;
}

.tooltipText1::after {
    content: '';
    border-width: 5px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
    position: absolute;
    margin-top: 180px;
    top: 100%;
    left: 40%;
    margin-left: 5%;
}

.tooltip1:hover .tooltipText1 {
    opacity: 1;
    transform: translateY(-10px);
    margin-top: 180px;
}

#onhoverfb {
    visibility: hidden;
}

#facebookicon:hover~#onhoverfb {
    visibility: visible;
}

.button-cart {
   background-color:#ffc107;
    border: none;
    color: #212529;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin-top: 4px;
    margin-right: 29px;
    margin-bottom: 4px;
    margin-left: 2px;
    cursor: pointer;
}


.button-checkout {
  background-color: #8BC540;
    border: none;
    color: #212529;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin-top: 4px;
    margin-right: 2px;
    margin-bottom: 4px;
    margin-left: 2px;
    cursor: pointer;
}


.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  color: #aaa;
}
.log-bor{ border-radius: 10px; font-size: 18px; padding: 10px 0; height: auto; }
.cart-menu.navbar-nav{ flex-direction: row;}
.cart-menu.navbar-nav .nav-link a, .cart-menu.navbar-nav a.nav-link{ cursor: pointer;}
.cart-search input[type=text]{ background: #eee; border: none; padding: 0 15px;}

.navbar-toggler{ margin: 0;}

.app-search { border: none; background: none;}

.dsktop-cart-btn{ display: none;}
.dsktop-cart-btn a{ margin: 0 6px; }
@media only screen and (min-width: 767px){
    .app-search{ display: none;}
    .form-control{ height: auto !important;}
    button.btn i{ margin-right: 0;}
    .dsktop-cart-btn{ display: inline-block; margin-left: 15px;}
}
@media only screen and (max-width: 767px){
    .navbar-nav .dropdown-menu{ position: absolute; }
    .cart-menu.navbar-nav{ display: none; }
}
