<h2 mat-dialog-title>Change Password</h2>
<mat-dialog-content class="mat-typography">
    <div class="user-profile">
        <div class="container px-lg-0">
            <form [formGroup]="changeForm">
                <div class="row form-login my-4">
                    <div class="form-group col-sm-12 mx-auto mb-3">
                        <mat-form-field>
                            <mat-label class="text-brown font-bold">Current Password</mat-label>
                            <input matInput type="text" [formControl]="password" [type]="hidec ? 'password' : 'text'">
                            <mat-error *ngIf="password.invalid">{{validateFormFields()}}</mat-error>
                            <mat-icon class="eye-icon-small" matSuffix (click)="hidec = !hidec">{{hidec ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="form-group col-sm-12 mb-3">
                        <mat-form-field>
                            <mat-label class="text-brown font-bold">New Password</mat-label>
                            <input matInput [formControl]="chPassword" [type]="hidep ? 'password' : 'text'" matTooltip="Password should contain 8-12 digits with Upper & Lower case, Number and Special character" [matTooltipPosition]="position.value" matTooltipHideDelay="100000" aria-label="Button that displays a tooltip that hides when scrolled out of the container">
                            <mat-error *ngIf="chPassword.invalid">{{passwordVerifyFirst()}}</mat-error>
                            <mat-icon class="eye-icon-small" matSuffix (click)="hidep = !hidep">{{hidep ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="form-group col-sm-12 mb-3">
                        <mat-form-field>
                            <mat-label class="text-brown font-bold">Confirm Password</mat-label>
                            <input matInput [formControl]="chRepassword" [type]="hide ? 'password' : 'text'" matTooltip="Password should match" [matTooltipPosition]="position.value" matTooltipHideDelay="100000" aria-label="Button that displays a tooltip that hides when scrolled out of the container">
                            <mat-error *ngIf="chRepassword.hasError('notMatching')">
                                passwords don't match
                            </mat-error>
                            <mat-icon class="eye-icon-small" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </mat-form-field>
                    </div>
                    <div class="form-group col-12">
                        <button mat-dialog-close class="btn btn-gold m-3" type="button">Close</button>
                        <button mat-dialog-close [disabled]="changeForm.invalid" (click)="verifyAndCangePswd()" type="button" class="btn-green btn-br m-3">Update</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</mat-dialog-content>