.mat-dialog-container {
    max-width: 450px;
}

.btn-broun {
    color: #fff;
    background-color: #3F1D0B;
    border-color: #3F1D0B;
    border-radius: 10px;
}

.btn-br {
    border-radius: 10px;
}

.btn:hover {
    color: #fff;
}