.category-details-page .item{ border:1px solid #E3A857; border-radius: 10px; overflow: hidden; text-align: center;}
.category-details-page .product_img{ width: 100%; border-radius: 10px; border-bottom:2px solid #E3A857; padding: 0;}
.category-details-page .product{ margin-bottom: 0;}
.category-details-page .product_img{ border-radius: 10px;}
.category-details-page .product_info{text-align: center; width: 100%; }
.category-details-page .product_price{ float: none; text-align: center; }
.category-details-page .product_price .price{ font-size: 14px; font-weight: 700; color: black; font-family: 'Open Sans', sans-serif;}
.product_info h6.product_title{ font-family: 'Merriweather', serif; font-size: 12px; font-weight: 400;}
.product_info h6.product_title a{font-family: 'Merriweather', serif;}

.category-details-page{ clear: both;}
.category-details-page .product_info h6.product_title{ min-height: auto;}
.category-details-page .product_info h6.product_title a{ font-family: "Merriweather"; color: #111; font-size: 17px;}
.category-details-page .container .row div.last-child.col-6{ display: none;}

.top-services h4{ font-weight: 500; margin-bottom: 5px;}
.top-services .card{ padding: 0 25px; border:none; border-right: 1px solid #ccc;}
.top-services .row div.col-md-4:last-child .card{ border-right: none;}
.product_img.prod img{ height: 100%; }

@media only screen and (min-width: 992px){
    .category-details-page .product_img{ border-bottom: none;}
    .product_info h6.product_title, .product_info h6.product_title a{ font-family: "Roboto"; font-size: 14px;}
    .product_info h6.product_title a{ color: #0b8fed; font-weight: 600;}
}

@media only screen and (max-width: 600px) {
    .product_info{ float: left; }
    .product .product_title{ white-space: inherit; overflow: inherit; }
    .col-3{ width: 50%; }
    .category-details-page .product{ height: 188px; }
    .product_img img{ height: 140px; }

}
