<div class="banner inner-page text-center mb-4 mt-4">
    <h2>My Account</h2>
    <div class="pagination-cls">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bread">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Account</li>
            </ol>
        </nav>
    </div>
</div>

<div class="clearfix"></div>

<section class="inner-body my-account profile-page">
    <div class="container-fluid">
        <div class="container">
            <div class="row">

                <div class="col-md-3">
                    <ul class="list-group">
                        <li class="list-group-item current" role="presentation">
                            <a class="active" id="basicinfoTab" data-bs-toggle="tab" href="#basicinfo" role="tab"
                                aria-controls="basicinfo" aria-selected="true">Basic Information</a>
                        </li>

                        <li class="list-group-item" role="presentation1">
                            <a id="ordersTab" data-bs-toggle="tab" href="#orders" role="tab" aria-controls="orders"
                                aria-selected="false">My Orders</a>
                        </li>

                        <li class="list-group-item"><a class="cursor-pointer text-brown-light"
                                (click)="data.signOutAll()">Log Out</a></li>
                    </ul>
                </div>

                <div class="col-md-9 border p-3">
                    <div class="tab-content" id="myTabContent">

                        <!-- Tab Basic Onfo -->
                        <div class="tab-pane fade show active" id="basicinfo" role="tabpanel"
                            aria-labelledby="basicinfoTab">
                            <div class="row">
                                <h4 class="title">BASIC INFORMATION</h4>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="upload-set">
                                            <div class="title">Unique ID: <span
                                                    class="id_col m-2 text-center userid">{{data.identifier}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 border-end">
                                    <div class="pro-set pb-md-3">
                                        <img [src]="data.profileUrl" class="rounded-circle user-profile-thumb" id="blah"
                                            alt="Image">
                                        <div class="upload-set mt-2">
                                            <div class="file-btn font-bold" *ngIf="!uploader">
                                                <img src="../../../assets/images/cloud_upload.png" alt="Chosse imge">
                                                Choose Image <input type="file" name="file" id="imgInp"
                                                    (change)="onFileChanged($event)" #fileInput>
                                            </div>
                                            <div class="file-btn font-bold" *ngIf="uploader">
                                                <img src="../../../assets/images/cloud_upload.png" alt="Chosse imge">
                                                Choose Image <input type="file" name="file" id="imgInp"
                                                    (change)="onFileChanged($event)" #fileInput>
                                            </div>
                                        </div>
                                        <img [src]="uploadImageUrl" *ngIf="fileAccept"
                                            class="rounded-circle user-profile-thumb" id="blah" alt="Image">
                                        <p class="font-bold imagename" *ngIf="fileAccept">{{file_name}}</p>
                                        <button *ngIf="fileAccept" class="btn-gold" (click)="uploadImage()">Upload
                                            Image</button>
                                        <div *ngIf="uploader" class="progress my-3 w-100">
                                            <div class="progress-bar progress-bar-info progress-bar-striped"
                                                role="progressbar" attr.aria-valuenow="{{ progress }}" aria-valuemin="0"
                                                aria-valuemax="100" [ngStyle]="{ width: progress + '%' }">
                                                {{ progress }}%
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-9 pro-left">
                                    <div class="form-login">
                                        <div class="row">
                                            <div class="form-group mb-4 col-sm-6">
                                                <label class="text-brown font-bold">First Name</label>
                                                <input type="text" class="form-control" name="firstName"
                                                    [value]="data.firstName" disabled>
                                            </div>
                                            <div class="form-group mb-4 col-sm-6">
                                                <label class="text-brown font-bold">Last Name</label>
                                                <input type="text" class="form-control" name="lastName"
                                                    [value]="data.lastName" disabled>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group mb-4 col-sm-6">
                                                <label class="text-brown font-bold">Email ID</label>
                                                <input type="text" class="form-control" [value]="data.emailId" disabled>
                                            </div>
                                            <div class="form-group mb-4 col-sm-6">
                                                <label class="text-brown font-bold">Mobile Number</label>
                                                <input type="text" class="form-control" [value]="data.mobileNo"
                                                    disabled>
                                            </div>
                                        </div>

                                        <div class="row" style="display: none;">
                                            <div class="form-group mb-4 col-sm-6">
                                                <label class="text-brown font-bold">Experience in Years</label>
                                                <mat-select class="form-control" [formControl]="exprnc">
                                                    <mat-option value="0-5">0-5</mat-option>
                                                    <mat-option value="6-10">6-10</mat-option>
                                                    <mat-option value="16-20">16-20</mat-option>
                                                    <mat-option value="21-25">21-25</mat-option>
                                                    <mat-option value="25+">25+</mat-option>
                                                </mat-select>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group mb-4 col-sm-6">
                                                <label class="text-brown font-bold">Change Password</label>
                                                <button type="button" class="btn-gold chng-pas"
                                                    (click)="openChangePassword()">Set New Password</button>
                                            </div>
                                        </div>

                                        <div class="form-group mb-2">
                                            <button type="submit" class="btn-green w-100 mb-3"
                                                (click)="updateProfileData()">Save Profile</button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!-- My Post -->
                        <div class="tab-pane fade" id="mypost" role="tabpanel" aria-labelledby="mypostTab">
                            <div class="row">
                                <div class="col-12">
                                    <h4 class="title">Coming Soon</h4>
                                </div>

                            </div>
                        </div>

                        <!-- My Contest -->
                        <div class="tab-pane fade" id="Contests" role="tabpanel" aria-labelledby="ContestsTab">
                            <div class="row card-panel" *ngIf="eventsJoinedDetails.length != 0">
                                <div class="dropdown mb-3">
                                    <button class="btn-brown dropdown-toggle px-4" type="button" id="dropdownMenuButton"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        Filter Events<i class="far fa-sliders-h fa-lg ms-2"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right py-0 mt-1 overflow-hidden"
                                        aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item cursor-pointer" (click)="filterEvents('all')">ALl
                                            Events</a>
                                        <a class="dropdown-item cursor-pointer"
                                            (click)="filterEvents('onGoing')">Ongoing Events</a>
                                        <a class="dropdown-item cursor-pointer"
                                            (click)="filterEvents('upComing')">Upcoming Events</a>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 {{filterDatas[i]}}"
                                    *ngFor="let eventsDetail of eventsJoinedDetails ;let i = index;">
                                    <div class="card card-custome mb-5 cursor-pointer"
                                        [routerLink]="['/event/event-detail/',eventsDetail.eventId]">
                                        <figure class="d-block card-img">
                                            <img [src]="eventsDetail.imageURL" class="card-img-top" alt="">
                                            <div class="date-overly">
                                                <div class="pb-1" *ngIf="!eventsDetail.dontCalculate">
                                                    <i class="far fa-calendar-alt mr-2"></i> {{eventsDetail.startDate |
                                                    date:'medium'}}
                                                </div>
                                                <div class="pb-1" *ngIf="eventsDetail.dontCalculate">
                                                    {{eventsDetail.starting}}
                                                </div>
                                            </div>
                                        </figure>
                                        <div class="card-body">
                                            <h5 class="card-title">{{eventsDetail.name}}</h5>
                                            <a *ngIf="eventTime[i] == 'On-Going'"
                                                class="btn btn-green d-block">{{eventTime[i]}}</a>
                                            <a *ngIf="eventTime[i] == 'Upcoming'"
                                                class="btn btn-gold d-block">{{eventTime[i]}}</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 mx-auto" *ngIf="eventsJoinedDetails.length == 0"
                                    eventsJoinedDetails>
                                    <div class="card card-custome mb-5 cursor-pointer">
                                        <div class="card-body">
                                            <h5 class="card-title">No joined contests to show</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Wallet -->
                        <div class="tab-pane fade" id="wallet" role="tabpanel" aria-labelledby="walletTab">
                            <div class="row">
                                <div class="col-12">
                                    <h4 class="title">Coming Soon</h4>
                                </div>

                            </div>
                        </div>

                        <!-- My coins -->
                        <div class="tab-pane fade" id="coins" role="tabpanel" aria-labelledby="coinsTab">
                            <div class="row">
                                <div class="col-12">
                                    <h4 class="title">Coming Soon</h4>
                                </div>

                            </div>
                        </div>
                        <!-- My coins END -->

                        <!-- Earnings -->
                        <div class="tab-pane fade" id="earnings" role="tabpanel" aria-labelledby="earningsTab">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="full_top">
                                        <div class="title">
                                            <h4>Earnings Report</h4>
                                        </div>
                                        <div class="drop_bht">
                                            <div class="flex_cust">
                                                <select class="frm d-inline" aria-label="Default select example">
                                                    <option selected>All Type</option>
                                                    <option value="1">One</option>
                                                    <option value="2">Two</option>
                                                    <option value="3">Three</option>
                                                </select>
                                                <select class="frm d-inline" aria-label="Default select example">
                                                    <option selected>This Year</option>
                                                    <option value="1">2000</option>
                                                    <option value="2">2001</option>
                                                    <option value="3">2005</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="chart_fit">
                                        <figure>
                                            <img src="../../../assets/images/chat.svg" alt="chat" title="chat"
                                                class="img-fluid w-100">
                                        </figure>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="wlt_set">
                                        <div class="ear_bx">
                                            <h4>Total Earnings</h4>
                                            <div class="mony_total">
                                                <div class="total_my">Rs. <strong>10,578</strong></div>
                                                <p>Update every 10 minutes</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="walet_col">
                                        <div class="mid_bx one_color">
                                            <h2>Total Win</h2>
                                            <h4>Rs. 8,578</h4>
                                        </div>
                                        <div class="mid_bx two_color">
                                            <h2>Refer Income</h2>
                                            <h4>Rs. 1000</h4>
                                        </div>
                                        <div class="mid_bx three_color">
                                            <h2>Coins</h2>
                                            <h4>Rs. 1000</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Winnings -->
                        <div class="tab-pane fade" id="winnings" role="tabpanel" aria-labelledby="winningsTab">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card card-custome mb-3 price_col">
                                        <figure class="d-block card-img">
                                            <img src="../../../assets/images/rep_img.png" class="card-img-top" alt="">
                                            <div class="cup_set">
                                                <span class="lable">1</span>
                                            </div>
                                        </figure>
                                        <div class="card-body">
                                            <h5 class="card-title">Diwali Pahat At Shanmukhananda Hall...</h5>
                                            <div class="date-overly-not">
                                                <div class="pb-1">
                                                    <i class="fa fa-calendar"></i> 15 Aug 2021, 10:00AM
                                                </div>
                                            </div>
                                            <div class="btn-gold-price d-block">You Win <span>Rs.</span> 2500</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card card-custome mb-3 price_col">
                                        <figure class="d-block card-img">
                                            <img src="../../../assets/images/rep_img.png" class="card-img-top" alt="">
                                            <div class="cup_set">
                                                <span class="lable">2</span>
                                            </div>
                                        </figure>
                                        <div class="card-body">
                                            <h5 class="card-title">Diwali Pahat At Shanmukhananda Hall...</h5>
                                            <div class="date-overly-not">
                                                <div class="pb-1">
                                                    <i class="fa fa-calendar"></i> 30 Dec 2021, 10:00AM
                                                </div>
                                            </div>
                                            <div class="btn-gold-price d-block">You Win <span>Rs.</span> 2500</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Orders -->
                        <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="ordersTab">
                            <div class="row">
                                <div class="col-12" *ngFor="let order of orderDetails ">
                                    <div class="order_article" id="pdfTable" #pdfTable>
                                        <div class="ord_id">Order# {{order.orderId}}</div>
                                        <div class="ord_wrap">
                                            <div class="odr_detls">
                                                <div class="title_dets">{{order.name}}</div>
                                                <!-- <div class="location">Kolkata</div> -->
                                                <div class="place">Order Placed : <strong>{{order.createdDate |
                                                        date:'medium'}}</strong></div>
                                                <!-- <div class="pay_method">Payment Method : <strong>BHIM UPI</strong></div> -->
                                                <div class="stutas">Status : <span class="green">{{order.status}}</span>
                                                </div>
                                                <!-- <div class="vdetails"><a href="">View Details</a></div> -->
                                            </div>
                                            <div class="odr_sumry">
                                                <div class="title_sum">Summary</div>
                                                <ul class="sum_list">
                                                    <!-- <li>Item Subtotal : <span>Rs.{{order.itemTotal}}</span></li> -->
                                                    <li>GST : <span>Rs.{{order.gstAmount}}</span></li>
                                                    <li>Grand Total : <span>Rs.{{order.itemTotal}}</span></li>
                                                </ul>
                                                <div class="download_gold" style="cursor: pointer;"
                                                    (click)="downloadInvoice(order.productId,order.paymentId)">
                                                    <a>Download Invoice</a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div>
                                    <form type="hidden" method="post" #dwnldForm
                                        action="https://api.themafic.com/api/Mafic/marketPlaceInvoice"
                                        name="{{orderForm}}" id="downloadInvoiceID" target="_blank">
                                        <input name="userId" type="hidden" value="{{data.uID}}" />
                                        <input name="productId" type="hidden" value="{{prodId}}" />
                                        <input name="paymentId" type="hidden" value="{{payId}}" />
                                    </form>
                                </div>

                            </div>

                            <!-- Orders -->
                            <!-- <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="ordersTab">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="order_article">
                                            <div class="ord_id">Order# 407</div>
                                            <div class="ord_wrap">
                                                <div class="odr_detls">
                                                    <div class="title_dets">Independence day 15 august 2021 virtual marathon</div>
                                                    <div class="location">Kolkata</div>
                                                    <div class="place">Order Placed : <strong>15 Aug 2021</strong></div>
                                                    <div class="pay_method">Payment Method : <strong>BHIM UPI</strong></div>
                                                    <div class="stutas">Status : <span class="green">Completed</span></div>
                                                </div>
                                                <div class="odr_sumry">
                                                    <div class="title_sum">Summary</div>
                                                    <ul class="sum_list">
                                                        <li>Item Subtotal : <span>Rs.756.00</span></li>
                                                        <li>Total : <span>Rs.756.00</span></li>
                                                        <li>Grand Total : <span>Rs.756.00</span></li>
                                                    </ul>
                                                    <div class="download_gold"><a class="">Download Invoice</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="order_article">
                                            <div class="ord_id">Order# 407</div>
                                            <div class="ord_wrap">
                                                <div class="odr_detls">
                                                    <div class="title_dets">Independence day 15 august 2021 virtual marathon</div>
                                                    <div class="location">Kolkata</div>
                                                    <div class="place">Order Placed : <strong>15 Aug 2021</strong></div>
                                                    <div class="pay_method">Payment Method : <strong>BHIM UPI</strong></div>
                                                    <div class="stutas">Status : <span class="green">Completed</span></div>
                                                </div>
                                                <div class="odr_sumry">
                                                    <div class="title_sum">Summary</div>
                                                    <ul class="sum_list">
                                                        <li>Item Subtotal : <span>Rs.756.00</span></li>
                                                        <li>Total : <span>Rs.756.00</span></li>
                                                        <li>Grand Total : <span>Rs.756.00</span></li>
                                                    </ul>
                                                    <div class="download_gold"><a class="">Download Invoice</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-12">
                                        <div class="order_article">
                                            <div class="ord_id">Order# 407</div>
                                            <div class="ord_wrap">
                                                <div class="odr_detls">
                                                    <div class="title_dets">Independence day 15 august 2021 virtual marathon</div>
                                                    <div class="location">Kolkata</div>
                                                    <div class="place">Order Placed : <strong>15 Aug 2021</strong></div>
                                                    <div class="pay_method">Payment Method : <strong>BHIM UPI</strong></div>
                                                    <div class="stutas">Status : <span class="green">Completed</span></div>
                                                </div>
                                                <div class="odr_sumry">
                                                    <div class="title_sum">Summary</div>
                                                    <ul class="sum_list">
                                                        <li>Item Subtotal : <span>Rs.756.00</span></li>
                                                        <li>Total : <span>Rs.756.00</span></li>
                                                        <li>Grand Total : <span>Rs.756.00</span></li>
                                                    </ul>
                                                    <div class="download_gold" (click)="downloadInvoice()"><a class="">Download Invoice</a></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->

                            <!-- Subscriptions -->
                            <!-- <div class="tab-pane fade" id="subscriptions" role="tabpanel"
                                aria-labelledby="subscriptionsTab">
                                <div class="row order-status">
                                    <div class="col-12">
                                        <h3 class="text-dark mt-0 mb-4">Your Order Status</h3>
                                        <div class="status-main">
                                            <div class="row mb-4">
                                                <div class="col-lg-12">
                                                    <div class="statustop">
                                                        <p class="mb-2"><strong>Status:</strong> OnHold</p>
                                                        <p class="mb-2"><strong>Order Date:</strong> Saturday, April
                                                            09,2019</p>
                                                        <p class="mb-2"><strong>Order Number:</strong> #6469 </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-lg-6 col-md-6">
                                                    <div class="card">
                                                        <div class="card-header">
                                                            Billing Address
                                                        </div>
                                                        <div class="card-body">
                                                            <p class="card-text mb-2"><strong>Gurdeep Singh
                                                                    Osahan</strong></p>
                                                            <p class="card-text mb-0"> 4894 Burke Street<br>
                                                                North Billerica, MA 01862
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6">
                                                    <div class="card">
                                                        <div class="card-header">
                                                            Shipping Address
                                                        </div>
                                                        <div class="card-body">
                                                            <p class="card-text mb-2"><strong>Gurdeep Singh
                                                                    Osahan</strong></p>
                                                            <p class="card-text mb-0"> 4894 Burke Street<br>
                                                                North Billerica, MA 01862
                                                            </p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12">
                                                    <div class="card">
                                                        <div class="card-header">
                                                            Order Items
                                                        </div>
                                                        <div class="card-block padding-none">
                                                            <div class="cart-table">
                                                                <div class="table-responsive">
                                                                    <table class="table cart_summary">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>Product</th>
                                                                                <th>Description</th>
                                                                                <th>Quantity</th>
                                                                                <th>Subtotal</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td class="cart_product"><a
                                                                                        href="#"><img class="img-fluid"
                                                                                            src="assets/images/cat_img2.png"
                                                                                            alt=""></a></td>
                                                                                <td class="cart_description">
                                                                                    <h6 class="product-name"><a
                                                                                            href="#">Floret Printed
                                                                                            Ivory Skater Dress </a></h6>
                                                                                    <p
                                                                                        class="f-12 text-secondary mb-1 pt-1 pb-1">
                                                                                        5/4 Review</p>
                                                                                </td>
                                                                                <td class="qty">
                                                                                    <select
                                                                                        class="custom-select custom-select-sm select2-hidden-accessible"
                                                                                        disabled="">
                                                                                        <option selected="">1
                                                                                        </option>
                                                                                    </select>
                                                                                </td>
                                                                                <td class="price">
                                                                                    <p
                                                                                        class="f-14 mb-0 text-dark float-right">
                                                                                        $250.00 <del class="small text-secondary">$
                                                                                            500.00 </del></p>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td class="cart_product"><a
                                                                                        href="#"><img class="img-fluid"
                                                                                            src="assets/images/cat_img3.png"
                                                                                            alt=""></a></td>
                                                                                <td class="cart_description">
                                                                                    <h6 class="product-name"><a
                                                                                            href="#">Floret Printed
                                                                                            Ivory Skater Dress </a></h6>
                                                                                    <p
                                                                                        class="f-12 text-secondary mb-1 pt-1 pb-1">
                                                                                        5/4 Review</p>
                                                                                </td>
                                                                                <td class="qty">
                                                                                    <select
                                                                                        class="custom-select custom-select-sm select2-hidden-accessible"
                                                                                        disabled="" data-select2-id="22"
                                                                                        tabindex="-1"
                                                                                        aria-hidden="true">
                                                                                        <option selected=""
                                                                                            data-select2-id="24">1
                                                                                        </option>
                                                                                    </select>
                                                                                </td>
                                                                                <td class="price">
                                                                                    <p
                                                                                        class="f-14 mb-0 text-dark float-right">
                                                                                        $250.00 <del
                                                                                            class="small text-secondary">$
                                                                                            500.00 </del></p>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                        <tfoot>
                                                                            <tr>
                                                                                <td class="text-right" colspan="3">Total
                                                                                    products (tax incl.)</td>
                                                                                <td colspan="2">$437.88 </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td class="text-right" colspan="3">
                                                                                    <strong>Total</strong></td>
                                                                                <td class="text-danger" colspan="2">
                                                                                    <strong>$337.88 </strong></td>
                                                                            </tr>
                                                                        </tfoot>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>





                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
